<div class="container mt-5">
  <h2>Identify from your plant!</h2>
  <div class="col-md-12">
    <webcam
      [trigger]="invokeObservable"
      (imageCapture)="captureImg($event)"
      [height]="500"
      [width]="200"
    ></webcam>
  </div>
  <div class="col-md-12">
    <button class="btn btn-danger" (click)="getSnapshot()">
      Take picture
    </button>
  </div>
  <div class="col-12">
    <div id="results">Picture taken here:</div>
    <img [src]="webcamImage?.imageAsDataUrl" height="200px"/>

    <p id="type"></p>
  </div>
</div>

